<br><br><br><br><br><br><br>

<%= form_for(@geinin) do |f| %>
   <h4>芸人名 *必須</h4>
    <%= f.text_field :name,:placeholder => "タイトル" %><br>
    <h4>本文</h4>
    <%= f.text_area :agency,:placeholder => "事務所" %><br>
    @<%= f.text_field :twitter_id,:placeholder => "Twitter ID"  %><br>
    @<%= f.text_field :instagram_id,:placeholder => "Instagram ID"  %><br>
    <%= f.text_field :youtube_url,:placeholder => "Youtube URL"  %><br>
    <%= f.text_field :blog_url,:placeholder => "ブログURL"  %><br> 

    <h4>個人</h4>
    <%= f.fields_for :geinin_member do |member_form| %>
        <%= member_form.text_field :name,:placeholder => "名前"  %><br>
        <%= member_form.text_field :yomi,:placeholder => "ふりがな"  %><br>
        <%= member_form.text_field :twitter_id,:placeholder => "Twitter ID"  %><br>
        <%= member_form.text_field :instagram_id,:placeholder => "Insgram ID"  %><br>
        <%= member_form.text_field :blog_url,:placeholder => "ブログ URL"  %><br>
    <% end %>
    <%= f.fields_for :geinin_member do |member_form| %>
        <%= member_form.text_field :name,:placeholder => "メンバー 2"  %><br>
        <%= member_form.text_field :name,:placeholder => "名前"  %><br>
        <%= member_form.text_field :yomi,:placeholder => "ふりがな"  %><br>
        <%= member_form.text_field :twitter_id,:placeholder => "Twitter ID"  %><br>
        <%= member_form.text_field :instagram_id,:placeholder => "Insgram ID"  %><br>
        <%= member_form.text_field :blog_url,:placeholder => "ブログ URL"  %><br>
    <% end %>
    <%= f.fields_for :geinin_member do |member_form| %>
        <%= member_form.text_field :name,:placeholder => "名前"  %><br>
        <%= member_form.text_field :yomi,:placeholder => "ふりがな"  %><br>
        <%= member_form.text_field :twitter_id,:placeholder => "Twitter ID"  %><br>
        <%= member_form.text_field :instagram_id,:placeholder => "Insgram ID"  %><br>
        <%= member_form.text_field :blog_url,:placeholder => "ブログ URL"  %><br>
    <% end %>   
    <h4>カテゴリ</h4>
    <%= f.fields_for :geinin_tags do |tags_form| %>
        <%= tags_form.text_field :tag,:placeholder => "タグ"  %><br>
    <% end %>/

    <%= f.submit '保存' %>
<% end %>