<article class="post element hard-shadows">
  <div class="post-header post-header-s1 post-date-1">
      <div class="post-icon">
          <span class="icon-permalink"></span>
      </div>
      <div class="post-counts">
        <span class="share-button"></span>
        <% link_to 'Twitterにシェア', "https://twitter.com" %>
        <div class="share-option hidden" onClick="window.open('http://twitter.com/share?text=#{event.title}%21&url=https://tmblr.co/ZB3_lc2Tyk2Mu', 'twitter_share', 'height=320, width=640, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, directories=no, status=no');">
            Twitterにシェアする
        </div>
        <div class="share-option hidden" onClick="window.open('https://plus.google.com/share?url=https://tmblr.co/ZB3_lc2Tyk2Mu', 'google_plus_share', 'height=320, width=500, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, directories=no, status=no');">
            Google+にシェア
        </div>
        <div class="share-option hidden" onClick="window.open('http://www.facebook.com/sharer/sharer.php?u=https://tmblr.co/ZB3_lc2Tyk2Mu&t=wArally%21', 'facebook_share', 'height=320, width=640, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, directories=no, status=no');">
            Facebookにシェア
        </div>
      </div>

	<div class="post-wrapper">
	  <div class="post-box">
	    <h3 class="post-title">
	      <%= link_to geinin.name, event_path(geinin.id) %>
	    </h3>
	  </div>
		<div class="post-text typography">
          <div><p>結成年：<%= geinin.start_year %></p></div>
	      <div><p>事務所：<%= geinin.agency %></p></div>
          <div><p>Twitter：<%= link_to '@' + geinin.twitter_id, "https://twitter.com/#{geinin.twitter_id}" %></p></div>
          <div class="Instagram-button"><p>Instagram：<%= link_to '@' + geinin.instagram_id, "https://instagram.com/#{geinin.twitter_id}" %></p></div>
          <div class="youtube-button"><p>Youtube：<%= link_to geinin_youtube_url, geinin_youtube_url %></p></div>
          <div class="facebook-button"><p>Facebook：<%= link_to geinin.facebook_url, geinin.facebook_url %></p></div>
          <div class="blog-button"><p>ブログ：<%= link_to geinin.blog_url, geinin.blog_url %></p></div>
          <div class="blog-button"><p>公式プロフィール：<%= link_to official_profile_url, official_profile_url %></p></div>
          <div class="blog-button"><p>解散日：<%= geinin.end_date %></p></div>

					<!-- メンバーを表示 -->
				 	  <% geinin.geinin_member.each do |member| %>
                        個人名：<%= link_to member.name, member.name %></p></div>
                        ふりがな：<%= link_to member.yomi, member.yomi %></p></div>
                        Twitter：<%= link_to member.twitter_id, member.twitter_id %></p></div>
                        Instagram：<%= link_to member.instagram_id, member.instagram_id %></p></div>
                        Blog：<%= link_to member.blog_url, member.blog_url %></p></div>
					  <% end %>
				 	<!-- タグを表示 -->
				 	  <% geinin.geinin_tags.each do |tag| %>
					    <% link_to tag.tag, search_path(geinin_tag: tag.tag) %>
					  <% end %>
	  </div>
	  <div class="post-text typography">
	    <div class="post-options">
	      <div class="edit-box">
	        <div class="edit-button">
	          <i class="fas fa-edit" style="font-size:15px; color:#FFFFFF;text-align:right;"　aria-hidden="true"></i>
	          <%= link_to "編集", edit_geinin_path(geinin.id) %>
	        </div>
	      </div>
	    </div>
	</div>
</article>
