<div class="container">
  <div class="event-box">
    <%= form_for(@event, method: :post, :class => "event-edit-form") do |f| %>
    <div class="form-item">
      <div class="form-icon">
        <i class="fas fa-calendar-alt"></i>
      </div>
      <div class="form">
        <%= f.text_field :datetime, :placeholder =>"開演日時 *", :class=>"SearchCalendar event-edit-form", data: {min_date: 'today'},:required=>"true" %>
      </div>
    </div>
    <div class="form-item">
      <div class="form-icon">
        <i class="fas fa-bookmark"></i>
      </div>
      <div class="form">
        <%= f.text_field :title,:placeholder => "ライブ名 *",:class => "event-edit-form",:required=>"true" %>
      </div>
    </div>
    <div class="form-item">
      <div class="form-icon">
        <i class="fas fa-map-marker-alt"></i>
      </div>
      <div class="form">
        <%= f.text_field :place,:placeholder => "ライブ会場 *",:class => "event-edit-form",:required=>"true" %>
      </div>
    </div>
    <div class="form-item">
      <div class="form-icon">
        <i class="fas fa-users"></i>
      </div>
      <div class="form">
        <%= f.fields_for :event_performers do |performers_form| %>
          <%= performers_form.text_area :performer,:placeholder => "出演者",:class => "event-edit-form textarea"  %><br>
        <% end %>
      </div>
    </div>
    <div class="form-item">
      <div class="form-icon">
        <i class="fas fa-file-alt"></i>
      </div>
      <div class="form">
        <%= f.text_area :description,:placeholder => "ライブの説明",:class => "event-edit-form textarea" %>
      </div>
    </div>
    <div class="form-item">
      <div class="form-icon">
        <i class="fas fa-link"></i>
      </div>
      <div class="form">
        <%= f.fields_for :event_links do |urls_form| %>
          <%= urls_form.text_field :url,:placeholder => "予約URL",:class => "event-edit-form"  %>
        <% end %>
      </div>
    </div>
    <div class="form-item">
      <div class="form-icon">
        <i class="fas fa-envelope"></i>
      </div>
      <div class="form">
        <%= f.text_field :email,:placeholder => "メールアドレス",:class => "event-edit-form"  %>
      </div>
    </div>
    <div class="form-item">
      <div class="form-icon">
        <i class="fas fa-phone"></i>
      </div>
      <div class="form">
        <%= f.text_field :tel,:placeholder => "電話番号",:class => "event-edit-form"  %>
      </div>
    </div>
    <div class="form-item">
      <div class="form-icon">
        <i class="fas fa-image"></i>
      </div>
      <div class="form">
        <%= f.attachment_field :image, :class=>"event-edit-form" %>
      </div>
    </div>
    <%= f.submit '投稿する！', :class => "btn new" %>
<% end %>
    </div>
</div>