<section class="main">
    <div class="element page-info hard-shadows">
      <p>ライブ編集</p>
    </div>
    <div class="container">
    <%= form_for(@event, :class => "event-edit-form") do |f| %>
    <%= f.datetime_select :datetime, :type=>"text", :placeholder =>"日付を指定する", :class=>"SearchCalendar", data: {min_date: 'today'} %><br>
    <%= f.text_field :title,:placeholder => "ライブ名 *必須",:class => "event-edit-form" %><br>
    <%= f.fields_for :event_performers do |performers_form| %>
        <%= performers_form.text_area :performer,:placeholder => "出演者",:class => "event-edit-form textarea"  %><br>
    <% end %>
    <div class="event-edit-form-description">
        <%= f.text_area :description,:placeholder => "ライブの説明",:class => "event-edit-form non-border" %><br>
        <%= f.fields_for :event_categories do |categories_form| %>
    　    <%= categories_form.text_field :category,:placeholder => "#単独ライブ",:class => "non-border",:id => "category-button-solo" %>
        <% end %>
    </div>
    <p>予約の仕方</p>
    <i class="fas fa-envelope"></i>
    <%= f.text_field :email,:placeholder => "メールアドレス",:class => "event-edit-form-reserve"  %>
    <i class="fas fa-phone"></i>
    <%= f.text_field :tel,:placeholder => "電話番号",:class => "event-edit-form-reserve"  %>
    <i class="fas fa-ticket-alt"></i>
    <%= f.fields_for :event_links do |urls_form| %>
        <%= urls_form.text_field :url,:placeholder => "予約URL",:class => "event-edit-form-reserve"  %>
    <% end %>
    <h4>画像</h4>
    <%= f.attachment_field :image %>
    <%= f.submit '投稿する！', :class => "event-submit" %>
    <% end %>
    </div>
 </div>
</section>