<section class="main">
  <div class="page-info hard-shadows">
    <p>アンケート結果</p>
  </div>
  <div class="post">
    <div class="container">
      <div class="post-performer">
        <span class="survey-title"><strong>ツカミが面白い芸人さんは誰ですか？</strong></span>
        <ul>
        <li>
          <span class="ranking">1位 </span>
          <%= link_to 'コマンダンテ',search_path(performer: 'コマンダンテ'),:class=>"post-performer" %>
        </li>
        <li>
          <span class="ranking">2位 </span>
          <%= link_to 'マヂカルラブリー',search_path(performer: 'マヂカルラブリー'),:class=>"post-performer" %>
        </li>
        <li>
            <%= link_to '流れ星',search_path(performer: '流れ星'),:class=>"post-performer" %>
        </li>
        <li>
            <span class="ranking">4位 </span>
            <%= link_to '天竺鼠',search_path(performer: '天竺鼠'),:class=>"post-performer" %>
        </li>
        <li>
            <span class="ranking">5位 </span>
            <%= link_to 'まんじゅう大帝国',search_path(performer: 'まんじゅう大帝国'),:class=>"post-performer" %>
        </li>
        <li>
            <span class="ranking">6位 </span>
            <%= link_to 'ヤーレンズ',search_path(performer: 'ヤーレンズ'),:class=>"post-performer" %>
        </li>
        <li>
            <span class="ranking">7位 </span>
            <%= link_to '錦鯉',search_path(performer: '錦鯉'),:class=>"post-performer" %>
        </li>
        <li>
            <span class="ranking">8位 </span>
            <%= link_to '東京ダイナマイト',search_path(performer: '東京ダイナマイト'),:class=>"post-performer" %>
        </li>
        <li>
            <span class="ranking">9位 </span>
            <%= link_to 'ゆにばーす',search_path(performer: 'ゆにばーす'),:class=>"post-performer" %>
        </li>
<span class="ranking">6位 </span><span class="survey-tag"><a href="http://warally.info/search/ヤーレンズ">ヤーレンズ</a></span><br />
<span class="ranking">7位 </span><span class="survey-tag"><a href="http://warally.info/search/錦鯉">錦鯉</a></span><br />
<span class="ranking">8位 </span><span class="survey-tag"><a href="http://yoshimoto.funity.jp/kglist/?kw=東京ダイナマイト">東京ダイナマイト</a></span><br />
<span class="ranking">9位 </span><span class="survey-tag"><a href="http://yoshimoto.funity.jp/kglist/?kw=ゆにばーす">ゆにばーす</a></span><br />
<span class="ranking">10位 </span><span class="survey-tag"><a href="http://yoshimoto.funity.jp/kglist/?kw=とろサーモン">とろサーモン</a></span><br />
<span class="ranking">11位 </span><span class="survey-tag"><a href="http://warally.info/search/ラバーガール">ラバーガール</a></span><br />
<span class="ranking">12位 </span><span class="survey-tag"><a href="http://warally.info/search/さすらいラビー">さすらいラビー</a></span><span class="survey-tag"><a href="http://warally.info/search/虹の黄昏">虹の黄昏</a></span><br /><span class="ranking">14位 </span><span class="survey-tag"><a href="http://warally.info/search/サツマカワRPG">サツマカワRPG</a></span><span class="survey-tag"><a href="http://yoshimoto.funity.jp/kglist/?kw=スーパーマラドーナ">スーパーマラドーナ</a></span><span class="survey-tag"><a href="http://warally.info/search/マカロン">マカロン</a></span><br /><span class="ranking">17位 </span><span class="survey-tag"><a href="http://yoshimoto.funity.jp/kglist/?kw=アインシュタイン">アインシュタイン</a></span><span class="survey-tag"><a href="http://warally.info/search/なすなかにし">なすなかにし</a></span><br /><span class="ranking">19位 </span><span class="survey-tag"><a href="http://warally.info/search/エル・カブキ">エル・カブキ</a></span><span class="survey-tag"><a href="http://yoshimoto.funity.jp/kglist/?kw=金属バット">金属バット</a></span><span class="survey-tag"><a href="http://warally.info/search/三拍子">三拍子</a></span><span class="survey-tag"><a href="http://warally.info/search/四千頭身">四千頭身</a></span><span class="survey-tag"><a href="http://yoshimoto.funity.jp/kglist/?kw=大自然">大自然</a></span><br /><span class="ranking">24位 </span><span class="survey-tag"><a href="http://warally.info/search/おぎやはぎ">おぎやはぎ</a></span><span class="survey-tag"><a href="http://yoshimoto.funity.jp/kglist/?kw=コウテイ">コウテイ</a></span><span class="survey-tag"><a href="http://warally.info/search/トム・ブラウン">トム・ブラウン</a></span><span class="survey-tag"><a href="http://yoshimoto.funity.jp/kglist/?kw=ナイチンゲールダンス">ナイチンゲールダンス</a></span><span class="survey-tag"><a href="http://warally.info/search/磁石">磁石</a></span><span class="survey-tag"><a href="http://yoshimoto.funity.jp/kglist/?kw=風穴あけるズ">風穴あけるズ</a></span><br /><span class="ranking">30位 </span><span class="survey-tag"><a href="http://warally.info/search/Aマッソ">Aマッソ</a></span><span class="survey-tag"><a href="http://yoshimoto.funity.jp/kglist/?kw=NON STYLE">NON STYLE</a></span><span class="survey-tag"><a href="http://warally.info/search/TEAMサツマカワ">TEAMサツマカワ</a></span><span class="survey-tag"><a href="http://warally.info/search/メイプル超合金">メイプル超合金</a></span><span class="survey-tag"><a href="http://yoshimoto.funity.jp/kglist/?kw=見取り図">見取り図</a></span><span class="survey-tag"><a href="http://warally.info/search/三四郎">三四郎</a></span><span class="survey-tag"><a href="http://yoshimoto.funity.jp/kglist/?kw=博多華丸・大吉">博多華丸・大吉</a></span></p>
</ul>
</div>
<p>集計期間 2018/06/06-2018/06/09</p>


<p><span class="survey-title"><strong>好きな芸人さんは誰ですか？</strong></span></p>
<div class="post-performer">
<p><span class="ranking">1位 </span><span class="survey-tag"><a href="http://yoshimoto.funity.jp/kglist/?kw=和牛">和牛</a></span><br /><span class="ranking">2位 </span><span class="survey-tag"><a href="http://warally.info/search/東京03">東京03</a></span><span class="survey-tag"><a href="http://warally.info/search/Aマッソ">Aマッソ</a></span><span class="survey-tag"><a href="http://warally.info/search/三四郎">三四郎</a></span><br /><span class="ranking">5位 </span><span class="survey-tag"><a href="http://yoshimoto.funity.jp/kglist/?kw=千鳥">千鳥</a></span><br /><span class="ranking">6位 </span><span class="survey-tag"><a href="http://yoshimoto.funity.jp/kglist/?kw=NON STYLE">NON　STYLE</a></span><br /><span class="ranking">7位 </span><span class="survey-tag"><a href="http://warally.info/search/さらば青春の光">さらば青春の光</a></span><br /><span class="ranking">8位 </span><span class="survey-tag"><a href="http://warally.info/search/サンドウィッチマン">サンドウィッチマン</a></span><br /><span class="ranking">9位 </span><span class="survey-tag"><a href="http://warally.info/search/メイプル超合金">メイプル超合金</a></span><span class="survey-tag"><a href="http://yoshimoto.funity.jp/kglist/?kw=アキナ">アキナ</a></span><br /><span class="ranking">11位 </span><span class="survey-tag"><a href="http://yoshimoto.funity.jp/kglist/?kw=ミキ">ミキ</a></span><span class="survey-tag"><a href="http://warally.info/search/虹の黄昏">虹の黄昏</a></span><br /><span class="ranking">13位 </span><span class="survey-tag"><a href="http://warally.info/search/アルコ&ピース">アルコ＆ピース</a></span><span class="survey-tag"><a href="http://yoshimoto.funity.jp/kglist/?kw=ゆにばーす">ゆにばーす</a></span><br /><span class="ranking">15位 </span><span class="survey-tag"><a href="http://yoshimoto.funity.jp/kglist/?kw=アインシュタイン">アインシュタイン</a></span><br /><span class="ranking">16位 </span><span class="survey-tag"><a href="http://yoshimoto.funity.jp/kglist/?kw=霜降り明星">霜降り明星</a></span><br /><span class="ranking">17位 </span><span class="survey-tag"><a href="http://warally.info/search/うしろシティ">うしろシティ</a></span><br /><span class="ranking">18位 </span><span class="survey-tag"><a href="http://yoshimoto.funity.jp/kglist/?kw=銀シャリ">銀シャリ</a></span><br /><span class="ranking">19位 </span><span class="survey-tag"><a href="http://warally.info/search/かまいたち">かまいたち</a></span><br /><span class="ranking">20位 </span><span class="survey-tag"><a href="http://warally.info/search/トンツカタン">トンツカタン</a></span><span class="survey-tag"><a href="http://warally.info/search/ランジャタイ">ランジャタイ</a></span><span class="survey-tag"><a href="http://yoshimoto.funity.jp/kglist/?kw=ロザン">ロザン</a></span><br /><span class="ranking">23位 </span><span class="survey-tag"><a href="http://warally.info/search/オードリー">オードリー</a></span><span class="survey-tag"><a href="http://yoshimoto.funity.jp/kglist/?kw= JALJA">ジャルジャル</a></span><br /><span class="ranking">25位 </span><span class="survey-tag"><a href="http://warally.info/search/磁石">磁石</a></span><br /><span class="ranking">26位 </span><span class="survey-tag"><a href="http://warally.info/search/パーパー">パーパー</a></span><span class="survey-tag"><a href="http://yoshimoto.funity.jp/kglist/?kw=ランパンプス">ランパンプス</a></span><span class="survey-tag"><a href="http://warally.info/search/虹の黄昏">虹の黄昏</a></span></p>
</div>
<p>集計期間 2018/02/03-2018/02/06(※1人につき3組〜10組で投票)</p>
</div>
</div>
</div>